bash.exe.stackdump
/.env
node_modules

client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# CLIENT
# dependencies
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*


client/src/graphql/types.tsx

# SERVER
server/env.ts